<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

<!--     <logger name="com.excilys"> -->
<!--         <level value="DEBUG" /> -->
<!--     </logger> -->

<!--     <logger name="org.springframework"> -->
<!--         <level value="DEBUG" /> -->
<!--     </logger> -->

    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>