<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
 
	<http auto-config="true">
	
    <intercept-url pattern="/Dashboard**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/AddComputer**" access="ROLE_ADMIN" />
		<intercept-url pattern="/EditComputer**" access="ROLE_ADMIN" />
		<intercept-url pattern="/DeleteComputer**" access="ROLE_ADMIN" />
		<intercept-url pattern="/admin**" access="ROLE_USER" />
		<form-login 
		    login-page="/Login" 
		    default-target-url="/login" 
			authentication-failure-url="/Login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/Login?logout" />
		<!-- enable csrf protection -->
		<csrf/>
	</http>
	
	<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password, enabled from users where username=?"		    
		  authorities-by-username-query=
		    "select username, role from user_roles where username =?  "  />
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>